<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap -->

    <script></script>

    <title>LightBistro</title>
  </head>
  <body>
    <section class="header-wrapper">
      <h1 class="logo"><a href="/">LightBistro</a></h1>
      <!-- <button class="admin-btn">Admin</button> -->
      <button onclick="openNav()" class="admin-btn">
        <i class="material-icons"> </i>
        <span>Cart</span>
      </button>
    </section>
  </body>
</html>
