<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- externel js -->
    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
      type="text/javascript"
    ></script>
    <script
      src="https://kit.fontawesome.com/c02ba905d0.js"
      crossorigin="anonymous"
    ></script>

    <!-- internal js -->
    <script type="text/javascript" src="/scripts/sidecart.js"></script>

    <title>LightBistro</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.scss" type="css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header><% include ./partials/_header %></header>
      <div id="order-id" data-orderid=<%= orderId %> >TESTING, your order id is: <%= orderId %></div>
      <button id="menu-category">
        <i class="fas fa-angle-double-right"></i>
      </button>
      <div class="menu">
        <h1>menu categories</h1>
        <div class="button_cont">
          <a
            class="example_a"
            target="_blank"
            rel="nofollow noopener"
            >Appetizers</a
          >
        </div>
        <div class="button_cont">
          <a
            class="example_a"
            target="_blank"
            rel="nofollow noopener"
            >Entres</a
          >
        </div>
        <div class="button_cont">
          <a
            class="example_a"
            target="_blank"
            rel="nofollow noopener"
            >Drinks</a
          >
        </div>
        <div class="button_cont">
          <a
            class="example_a"
            target="_blank"
            rel="nofollow noopener"
            >Desserts</a
          >
        </div>
          <a class="example_c" target="_blank" rel="nofollow noopener"
            ><p class="button_text order-item">
              Hotdog <br />$2 <br />
              Popularity: 4/5
            </p></a
          >
        </div>

    </section></div>
    <section class="database_test">
      Order_list
      <p>
        Name: <br />
        Quantity: <br />Price: (num x price )
      </p>
    </section>
    <article class="dbtest"></article>
    <main class="order_items"></main>
  </body>
</html>
