<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LightBistro</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.scss" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header><% include ./partials/_header %></header>
    <section class="restaurant-orders">
      <h1>Restaurant Orders</h1>

      <div id="orders" class="accordion"></div>
      <h1>orders</h1>
    </section>
  </body>
</html>
