$primary-color: #181717;
$heading-color: #dd3b3b;
$paragraph-color: goldenrod;
// See: https://sass-lang.com/
body {
  background-color: $primary-color;
  color: $paragraph-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}

header {
  width: 100%;
  height: 22em;
  padding: 0 10em 0 10em;
  -webkit-box-shadow: 3px 6px 14px -5px rgba(222, 191, 191, 0.15);
  -moz-box-shadow: 3px 6px 14px -5px rgba(222, 191, 191, 0.15);
  box-shadow: 3px 6px 14px -5px rgba(222, 191, 191, 0.15);
  background-image: url("../img/header.png");
  background-size: cover;
  background-size: 100%;
}

h1 {
  color: goldenrod;
}
header .admin-btn {
  position: absolute;
  right: 60px;
  top: 15px;
  background-color: $heading-color;
  color: $primary-color;
  border: none;
  padding: 15px 30px 15px 30px;
}

#menu-category {
  background: none;
  border: none;
  outline: none;
  color: #cae5f7;
  cursor: pointer;
  animation-name: floating;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  inline-size: -webkit-fill-available;
  font-size: -webkit-xxx-large;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 8px);
  }
  to {
    transform: translate(0, -0px);
  }
}

.menu {
  border: solid goldenrod 2px;
  border-radius: 2px;
  height: auto;
  width: 50%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.541);
  padding: 1.5em;
  top: 0em;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#hotdog {
  background-image: url("../img/hotdogs.png");
  background-size: cover;
}
#soda {
  background-image: url("../img/soda.png");
  background-size: cover;
}
#fries {
  background-image: url("../img/fries.png");
  background-size: cover;
}

#hotdog:hover {
  background-image: none;
}
#soda:hover {
  background-image: none;
}
#fries:hover {
  background-image: none;
}

.example_c {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  height: auto;
}

.menu .example_c:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
  visibility: visible;
  background-image: none;
}

.database_test {
  border: solid 2px;
  display: flex;
  flex-direction: row;
}

.example_c .button_text {
  visibility: hidden;
}

.example_c:hover .button_text {
  visibility: visible;
}

.example_a {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.example_a:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.processing {
  border: solid 3px;
  border-radius: 5px;
  width: fit-content;
}

.timeout {
  border: solid 3px;
  border-radius: 5px;
  width: fit-content;
}
