$primary-color: #181717;
$heading-color: #dd3b3b;
$paragraph-color: goldenrod;
// See: https://sass-lang.com/
body {
  background-color: $primary-color;
  color: $paragraph-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}

header {
  width: 100%;
  height: 22em;
  padding: 0 10em 0 10em;
  -webkit-box-shadow: 3px 6px 14px -5px rgba(222, 191, 191, 0.15);
  -moz-box-shadow: 3px 6px 14px -5px rgba(222, 191, 191, 0.15);
  box-shadow: 3px 6px 14px -5px rgba(222, 191, 191, 0.15);
  background-image: url("../img/header.png");
  background-size: 100%;
}

h1 {
  color: goldenrod;
}
header .admin-btn {
  position: absolute;
  right: 60px;
  top: 15px;
  background-color: $heading-color;
  color: $primary-color;
  border: none;
  padding: 15px 30px 15px 30px;
}

.menu {
  border: solid goldenrod 2px;
  border-radius: 2px;
  height: 30vw;
  width: 50%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.541);
  padding: 1.5em;
  top: 0em;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.example_c {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.example_c:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

.button_cont {
}
